* {
  margin: 0;
  padding: 0;
}

.particles-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: -1;
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
  -webkit-animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
          animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.circle-container:nth-child(1) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-1;
          animation-name: move-frames-1;
  -webkit-animation-duration: 36971ms;
          animation-duration: 36971ms;
  -webkit-animation-delay: 13330ms;
          animation-delay: 13330ms;
}
@-webkit-keyframes move-frames-1 {
  from {
    transform: translate3d(10vw, 107vh, 0);
  }
  to {
    transform: translate3d(9vw, -108vh, 0);
  }
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(10vw, 107vh, 0);
  }
  to {
    transform: translate3d(9vw, -108vh, 0);
  }
}
.circle-container:nth-child(1) .circle {
  -webkit-animation-delay: 3557ms;
          animation-delay: 3557ms;
}
.circle-container:nth-child(2) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-2;
          animation-name: move-frames-2;
  -webkit-animation-duration: 36322ms;
          animation-duration: 36322ms;
  -webkit-animation-delay: 28622ms;
          animation-delay: 28622ms;
}
@-webkit-keyframes move-frames-2 {
  from {
    transform: translate3d(52vw, 104vh, 0);
  }
  to {
    transform: translate3d(6vw, -108vh, 0);
  }
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(52vw, 104vh, 0);
  }
  to {
    transform: translate3d(6vw, -108vh, 0);
  }
}
.circle-container:nth-child(2) .circle {
  -webkit-animation-delay: 1020ms;
          animation-delay: 1020ms;
}
.circle-container:nth-child(3) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-3;
          animation-name: move-frames-3;
  -webkit-animation-duration: 31914ms;
          animation-duration: 31914ms;
  -webkit-animation-delay: 3883ms;
          animation-delay: 3883ms;
}
@-webkit-keyframes move-frames-3 {
  from {
    transform: translate3d(44vw, 107vh, 0);
  }
  to {
    transform: translate3d(30vw, -115vh, 0);
  }
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(44vw, 107vh, 0);
  }
  to {
    transform: translate3d(30vw, -115vh, 0);
  }
}
.circle-container:nth-child(3) .circle {
  -webkit-animation-delay: 297ms;
          animation-delay: 297ms;
}
.circle-container:nth-child(4) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-4;
          animation-name: move-frames-4;
  -webkit-animation-duration: 32343ms;
          animation-duration: 32343ms;
  -webkit-animation-delay: 8111ms;
          animation-delay: 8111ms;
}
@-webkit-keyframes move-frames-4 {
  from {
    transform: translate3d(11vw, 101vh, 0);
  }
  to {
    transform: translate3d(47vw, -115vh, 0);
  }
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(11vw, 101vh, 0);
  }
  to {
    transform: translate3d(47vw, -115vh, 0);
  }
}
.circle-container:nth-child(4) .circle {
  -webkit-animation-delay: 325ms;
          animation-delay: 325ms;
}
.circle-container:nth-child(5) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-5;
          animation-name: move-frames-5;
  -webkit-animation-duration: 34295ms;
          animation-duration: 34295ms;
  -webkit-animation-delay: 33347ms;
          animation-delay: 33347ms;
}
@-webkit-keyframes move-frames-5 {
  from {
    transform: translate3d(2vw, 110vh, 0);
  }
  to {
    transform: translate3d(65vw, -130vh, 0);
  }
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(2vw, 110vh, 0);
  }
  to {
    transform: translate3d(65vw, -130vh, 0);
  }
}
.circle-container:nth-child(5) .circle {
  -webkit-animation-delay: 427ms;
          animation-delay: 427ms;
}
.circle-container:nth-child(6) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-6;
          animation-name: move-frames-6;
  -webkit-animation-duration: 30300ms;
          animation-duration: 30300ms;
  -webkit-animation-delay: 7344ms;
          animation-delay: 7344ms;
}
@-webkit-keyframes move-frames-6 {
  from {
    transform: translate3d(16vw, 104vh, 0);
  }
  to {
    transform: translate3d(100vw, -134vh, 0);
  }
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(16vw, 104vh, 0);
  }
  to {
    transform: translate3d(100vw, -134vh, 0);
  }
}
.circle-container:nth-child(6) .circle {
  -webkit-animation-delay: 407ms;
          animation-delay: 407ms;
}
.circle-container:nth-child(7) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-7;
          animation-name: move-frames-7;
  -webkit-animation-duration: 33737ms;
          animation-duration: 33737ms;
  -webkit-animation-delay: 1745ms;
          animation-delay: 1745ms;
}
@-webkit-keyframes move-frames-7 {
  from {
    transform: translate3d(76vw, 109vh, 0);
  }
  to {
    transform: translate3d(99vw, -120vh, 0);
  }
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(76vw, 109vh, 0);
  }
  to {
    transform: translate3d(99vw, -120vh, 0);
  }
}
.circle-container:nth-child(7) .circle {
  -webkit-animation-delay: 1765ms;
          animation-delay: 1765ms;
}
.circle-container:nth-child(8) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-8;
          animation-name: move-frames-8;
  -webkit-animation-duration: 29588ms;
          animation-duration: 29588ms;
  -webkit-animation-delay: 4909ms;
          animation-delay: 4909ms;
}
@-webkit-keyframes move-frames-8 {
  from {
    transform: translate3d(28vw, 107vh, 0);
  }
  to {
    transform: translate3d(60vw, -118vh, 0);
  }
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(28vw, 107vh, 0);
  }
  to {
    transform: translate3d(60vw, -118vh, 0);
  }
}
.circle-container:nth-child(8) .circle {
  -webkit-animation-delay: 2542ms;
          animation-delay: 2542ms;
}
.circle-container:nth-child(9) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-9;
          animation-name: move-frames-9;
  -webkit-animation-duration: 31827ms;
          animation-duration: 31827ms;
  -webkit-animation-delay: 5804ms;
          animation-delay: 5804ms;
}
@-webkit-keyframes move-frames-9 {
  from {
    transform: translate3d(38vw, 106vh, 0);
  }
  to {
    transform: translate3d(83vw, -111vh, 0);
  }
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(38vw, 106vh, 0);
  }
  to {
    transform: translate3d(83vw, -111vh, 0);
  }
}
.circle-container:nth-child(9) .circle {
  -webkit-animation-delay: 2555ms;
          animation-delay: 2555ms;
}
.circle-container:nth-child(10) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-10;
          animation-name: move-frames-10;
  -webkit-animation-duration: 34878ms;
          animation-duration: 34878ms;
  -webkit-animation-delay: 14587ms;
          animation-delay: 14587ms;
}
@-webkit-keyframes move-frames-10 {
  from {
    transform: translate3d(80vw, 106vh, 0);
  }
  to {
    transform: translate3d(91vw, -127vh, 0);
  }
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(80vw, 106vh, 0);
  }
  to {
    transform: translate3d(91vw, -127vh, 0);
  }
}
.circle-container:nth-child(10) .circle {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.circle-container:nth-child(11) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-11;
          animation-name: move-frames-11;
  -webkit-animation-duration: 30383ms;
          animation-duration: 30383ms;
  -webkit-animation-delay: 7162ms;
          animation-delay: 7162ms;
}
@-webkit-keyframes move-frames-11 {
  from {
    transform: translate3d(45vw, 103vh, 0);
  }
  to {
    transform: translate3d(21vw, -132vh, 0);
  }
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(45vw, 103vh, 0);
  }
  to {
    transform: translate3d(21vw, -132vh, 0);
  }
}
.circle-container:nth-child(11) .circle {
  -webkit-animation-delay: 408ms;
          animation-delay: 408ms;
}
.circle-container:nth-child(12) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-12;
          animation-name: move-frames-12;
  -webkit-animation-duration: 35030ms;
          animation-duration: 35030ms;
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}
@-webkit-keyframes move-frames-12 {
  from {
    transform: translate3d(41vw, 105vh, 0);
  }
  to {
    transform: translate3d(10vw, -112vh, 0);
  }
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(41vw, 105vh, 0);
  }
  to {
    transform: translate3d(10vw, -112vh, 0);
  }
}
.circle-container:nth-child(12) .circle {
  -webkit-animation-delay: 3369ms;
          animation-delay: 3369ms;
}
.circle-container:nth-child(13) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-13;
          animation-name: move-frames-13;
  -webkit-animation-duration: 28441ms;
          animation-duration: 28441ms;
  -webkit-animation-delay: 15330ms;
          animation-delay: 15330ms;
}
@-webkit-keyframes move-frames-13 {
  from {
    transform: translate3d(86vw, 109vh, 0);
  }
  to {
    transform: translate3d(70vw, -134vh, 0);
  }
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(86vw, 109vh, 0);
  }
  to {
    transform: translate3d(70vw, -134vh, 0);
  }
}
.circle-container:nth-child(13) .circle {
  -webkit-animation-delay: 1295ms;
          animation-delay: 1295ms;
}
.circle-container:nth-child(14) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-14;
          animation-name: move-frames-14;
  -webkit-animation-duration: 32427ms;
          animation-duration: 32427ms;
  -webkit-animation-delay: 35736ms;
          animation-delay: 35736ms;
}
@-webkit-keyframes move-frames-14 {
  from {
    transform: translate3d(54vw, 102vh, 0);
  }
  to {
    transform: translate3d(87vw, -108vh, 0);
  }
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(54vw, 102vh, 0);
  }
  to {
    transform: translate3d(87vw, -108vh, 0);
  }
}
.circle-container:nth-child(14) .circle {
  -webkit-animation-delay: 3700ms;
          animation-delay: 3700ms;
}
.circle-container:nth-child(15) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-15;
          animation-name: move-frames-15;
  -webkit-animation-duration: 29881ms;
          animation-duration: 29881ms;
  -webkit-animation-delay: 12541ms;
          animation-delay: 12541ms;
}
@-webkit-keyframes move-frames-15 {
  from {
    transform: translate3d(61vw, 110vh, 0);
  }
  to {
    transform: translate3d(96vw, -119vh, 0);
  }
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(61vw, 110vh, 0);
  }
  to {
    transform: translate3d(96vw, -119vh, 0);
  }
}
.circle-container:nth-child(15) .circle {
  -webkit-animation-delay: 3972ms;
          animation-delay: 3972ms;
}
.circle-container:nth-child(16) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-16;
          animation-name: move-frames-16;
  -webkit-animation-duration: 30731ms;
          animation-duration: 30731ms;
  -webkit-animation-delay: 23863ms;
          animation-delay: 23863ms;
}
@-webkit-keyframes move-frames-16 {
  from {
    transform: translate3d(73vw, 103vh, 0);
  }
  to {
    transform: translate3d(28vw, -112vh, 0);
  }
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(73vw, 103vh, 0);
  }
  to {
    transform: translate3d(28vw, -112vh, 0);
  }
}
.circle-container:nth-child(16) .circle {
  -webkit-animation-delay: 3539ms;
          animation-delay: 3539ms;
}
.circle-container:nth-child(17) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-17;
          animation-name: move-frames-17;
  -webkit-animation-duration: 31583ms;
          animation-duration: 31583ms;
  -webkit-animation-delay: 29677ms;
          animation-delay: 29677ms;
}
@-webkit-keyframes move-frames-17 {
  from {
    transform: translate3d(47vw, 104vh, 0);
  }
  to {
    transform: translate3d(37vw, -127vh, 0);
  }
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(47vw, 104vh, 0);
  }
  to {
    transform: translate3d(37vw, -127vh, 0);
  }
}
.circle-container:nth-child(17) .circle {
  -webkit-animation-delay: 3723ms;
          animation-delay: 3723ms;
}
.circle-container:nth-child(18) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-18;
          animation-name: move-frames-18;
  -webkit-animation-duration: 35313ms;
          animation-duration: 35313ms;
  -webkit-animation-delay: 16616ms;
          animation-delay: 16616ms;
}
@-webkit-keyframes move-frames-18 {
  from {
    transform: translate3d(98vw, 102vh, 0);
  }
  to {
    transform: translate3d(2vw, -106vh, 0);
  }
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(98vw, 102vh, 0);
  }
  to {
    transform: translate3d(2vw, -106vh, 0);
  }
}
.circle-container:nth-child(18) .circle {
  -webkit-animation-delay: 456ms;
          animation-delay: 456ms;
}
.circle-container:nth-child(19) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-19;
          animation-name: move-frames-19;
  -webkit-animation-duration: 32440ms;
          animation-duration: 32440ms;
  -webkit-animation-delay: 21917ms;
          animation-delay: 21917ms;
}
@-webkit-keyframes move-frames-19 {
  from {
    transform: translate3d(51vw, 108vh, 0);
  }
  to {
    transform: translate3d(74vw, -128vh, 0);
  }
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(51vw, 108vh, 0);
  }
  to {
    transform: translate3d(74vw, -128vh, 0);
  }
}
.circle-container:nth-child(19) .circle {
  -webkit-animation-delay: 3525ms;
          animation-delay: 3525ms;
}
.circle-container:nth-child(20) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-20;
          animation-name: move-frames-20;
  -webkit-animation-duration: 32440ms;
          animation-duration: 32440ms;
  -webkit-animation-delay: 27011ms;
          animation-delay: 27011ms;
}
@-webkit-keyframes move-frames-20 {
  from {
    transform: translate3d(70vw, 101vh, 0);
  }
  to {
    transform: translate3d(53vw, -120vh, 0);
  }
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(70vw, 101vh, 0);
  }
  to {
    transform: translate3d(53vw, -120vh, 0);
  }
}
.circle-container:nth-child(20) .circle {
  -webkit-animation-delay: 3590ms;
          animation-delay: 3590ms;
}
.circle-container:nth-child(21) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-21;
          animation-name: move-frames-21;
  -webkit-animation-duration: 29559ms;
          animation-duration: 29559ms;
  -webkit-animation-delay: 25855ms;
          animation-delay: 25855ms;
}
@-webkit-keyframes move-frames-21 {
  from {
    transform: translate3d(64vw, 103vh, 0);
  }
  to {
    transform: translate3d(28vw, -127vh, 0);
  }
}
@keyframes move-frames-21 {
  from {
    transform: translate3d(64vw, 103vh, 0);
  }
  to {
    transform: translate3d(28vw, -127vh, 0);
  }
}
.circle-container:nth-child(21) .circle {
  -webkit-animation-delay: 3507ms;
          animation-delay: 3507ms;
}
.circle-container:nth-child(22) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-22;
          animation-name: move-frames-22;
  -webkit-animation-duration: 34346ms;
          animation-duration: 34346ms;
  -webkit-animation-delay: 31286ms;
          animation-delay: 31286ms;
}
@-webkit-keyframes move-frames-22 {
  from {
    transform: translate3d(26vw, 107vh, 0);
  }
  to {
    transform: translate3d(84vw, -112vh, 0);
  }
}
@keyframes move-frames-22 {
  from {
    transform: translate3d(26vw, 107vh, 0);
  }
  to {
    transform: translate3d(84vw, -112vh, 0);
  }
}
.circle-container:nth-child(22) .circle {
  -webkit-animation-delay: 202ms;
          animation-delay: 202ms;
}
.circle-container:nth-child(23) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-23;
          animation-name: move-frames-23;
  -webkit-animation-duration: 33923ms;
          animation-duration: 33923ms;
  -webkit-animation-delay: 7588ms;
          animation-delay: 7588ms;
}
@-webkit-keyframes move-frames-23 {
  from {
    transform: translate3d(37vw, 101vh, 0);
  }
  to {
    transform: translate3d(5vw, -122vh, 0);
  }
}
@keyframes move-frames-23 {
  from {
    transform: translate3d(37vw, 101vh, 0);
  }
  to {
    transform: translate3d(5vw, -122vh, 0);
  }
}
.circle-container:nth-child(23) .circle {
  -webkit-animation-delay: 1652ms;
          animation-delay: 1652ms;
}
.circle-container:nth-child(24) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-24;
          animation-name: move-frames-24;
  -webkit-animation-duration: 31674ms;
          animation-duration: 31674ms;
  -webkit-animation-delay: 5443ms;
          animation-delay: 5443ms;
}
@-webkit-keyframes move-frames-24 {
  from {
    transform: translate3d(18vw, 105vh, 0);
  }
  to {
    transform: translate3d(42vw, -125vh, 0);
  }
}
@keyframes move-frames-24 {
  from {
    transform: translate3d(18vw, 105vh, 0);
  }
  to {
    transform: translate3d(42vw, -125vh, 0);
  }
}
.circle-container:nth-child(24) .circle {
  -webkit-animation-delay: 172ms;
          animation-delay: 172ms;
}
.circle-container:nth-child(25) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-25;
          animation-name: move-frames-25;
  -webkit-animation-duration: 28807ms;
          animation-duration: 28807ms;
  -webkit-animation-delay: 18405ms;
          animation-delay: 18405ms;
}
@-webkit-keyframes move-frames-25 {
  from {
    transform: translate3d(47vw, 108vh, 0);
  }
  to {
    transform: translate3d(65vw, -126vh, 0);
  }
}
@keyframes move-frames-25 {
  from {
    transform: translate3d(47vw, 108vh, 0);
  }
  to {
    transform: translate3d(65vw, -126vh, 0);
  }
}
.circle-container:nth-child(25) .circle {
  -webkit-animation-delay: 2281ms;
          animation-delay: 2281ms;
}
.circle-container:nth-child(26) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-26;
          animation-name: move-frames-26;
  -webkit-animation-duration: 34569ms;
          animation-duration: 34569ms;
  -webkit-animation-delay: 30693ms;
          animation-delay: 30693ms;
}
@-webkit-keyframes move-frames-26 {
  from {
    transform: translate3d(38vw, 104vh, 0);
  }
  to {
    transform: translate3d(85vw, -128vh, 0);
  }
}
@keyframes move-frames-26 {
  from {
    transform: translate3d(38vw, 104vh, 0);
  }
  to {
    transform: translate3d(85vw, -128vh, 0);
  }
}
.circle-container:nth-child(26) .circle {
  -webkit-animation-delay: 197ms;
          animation-delay: 197ms;
}
.circle-container:nth-child(27) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-27;
          animation-name: move-frames-27;
  -webkit-animation-duration: 28141ms;
          animation-duration: 28141ms;
  -webkit-animation-delay: 29356ms;
          animation-delay: 29356ms;
}
@-webkit-keyframes move-frames-27 {
  from {
    transform: translate3d(73vw, 103vh, 0);
  }
  to {
    transform: translate3d(33vw, -125vh, 0);
  }
}
@keyframes move-frames-27 {
  from {
    transform: translate3d(73vw, 103vh, 0);
  }
  to {
    transform: translate3d(33vw, -125vh, 0);
  }
}
.circle-container:nth-child(27) .circle {
  -webkit-animation-delay: 1321ms;
          animation-delay: 1321ms;
}
.circle-container:nth-child(28) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-28;
          animation-name: move-frames-28;
  -webkit-animation-duration: 32785ms;
          animation-duration: 32785ms;
  -webkit-animation-delay: 7053ms;
          animation-delay: 7053ms;
}
@-webkit-keyframes move-frames-28 {
  from {
    transform: translate3d(59vw, 101vh, 0);
  }
  to {
    transform: translate3d(12vw, -117vh, 0);
  }
}
@keyframes move-frames-28 {
  from {
    transform: translate3d(59vw, 101vh, 0);
  }
  to {
    transform: translate3d(12vw, -117vh, 0);
  }
}
.circle-container:nth-child(28) .circle {
  -webkit-animation-delay: 2277ms;
          animation-delay: 2277ms;
}
.circle-container:nth-child(29) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-29;
          animation-name: move-frames-29;
  -webkit-animation-duration: 36317ms;
          animation-duration: 36317ms;
  -webkit-animation-delay: 6819ms;
          animation-delay: 6819ms;
}
@-webkit-keyframes move-frames-29 {
  from {
    transform: translate3d(17vw, 104vh, 0);
  }
  to {
    transform: translate3d(13vw, -132vh, 0);
  }
}
@keyframes move-frames-29 {
  from {
    transform: translate3d(17vw, 104vh, 0);
  }
  to {
    transform: translate3d(13vw, -132vh, 0);
  }
}
.circle-container:nth-child(29) .circle {
  -webkit-animation-delay: 796ms;
          animation-delay: 796ms;
}
.circle-container:nth-child(30) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-30;
          animation-name: move-frames-30;
  -webkit-animation-duration: 33004ms;
          animation-duration: 33004ms;
  -webkit-animation-delay: 28088ms;
          animation-delay: 28088ms;
}
@-webkit-keyframes move-frames-30 {
  from {
    transform: translate3d(87vw, 107vh, 0);
  }
  to {
    transform: translate3d(79vw, -131vh, 0);
  }
}
@keyframes move-frames-30 {
  from {
    transform: translate3d(87vw, 107vh, 0);
  }
  to {
    transform: translate3d(79vw, -131vh, 0);
  }
}
.circle-container:nth-child(30) .circle {
  -webkit-animation-delay: 135ms;
          animation-delay: 135ms;
}