


.effect {
  width: 100%;
  padding-top: 200px;
  margin-top: -200px;
  background-color: none;
}

.effect .buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.effect a {
  border-color: #fff;
  color: #fff;
}

.effect > div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* styles for a common effect !!!YOU NEED THEM */

.effect .buttons .social-button {
  text-decoration: none !important;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
}
.effect .buttons .social-button a i {
  position: relative;
  z-index: 3;
}
.effect .buttons .social-button a:last-child {
  margin-left: 3px;
}
.effect .buttons .social-button a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.effect .buttons .social-button a i {
  display: inline-block;
  vertical-align: middle;
}


/* thurio effect */
.effect.thurio .social-button {
  transition: border-radius 0.2s linear 0s;
  transform: rotate(45deg);
}
.effect.thurio .social-button i {
  transition: transform 0.01s linear 0s;
  transform: rotate(-45deg);
}
.effect.thurio .social-button:hover {
  border-radius: 0px;
}



/*lines above*/
.contact-lines svg .linetop-1 {
  stroke-dasharray: 1300;
  animation: dashtop 2s linear  ;
  -webkit-animation: dashtop 2s linear ;
}

.contact-lines svg .linetop-2 {
  stroke-dasharray: 1300;
  animation: dashtop 1.5s linear  ;
  -webkit-animation: dashtop 1.5s linear ;
}

@keyframes dashtop {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashtop {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*lines below*/
.contact-lines svg .linebottom-1 {
  stroke-dasharray: 1300;
  animation: dashbottom 1.5s linear   ;
  -webkit-animation: dashbottom 1.5s linear ;
}

.contact-lines svg .linebottom-2 {
  stroke-dasharray: 1300;
  animation: dashbottom 2s linear   ;
  -webkit-animation: dashbottom 2s linear ;
}

@keyframes dashbottom {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashbottom {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-tl-line,
.svg-br-line
{
	width: 100%;
	position: relative;
	z-index: 1;
}

.svg-br-line, .svg-tl-line {
  height: 21px;
}

.svg-tl-line {
  margin-bottom: 13px;
}
.svg-br-line {
  margin-bottom: -7px;
}

.mail-phone-border-wrap {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  margin-top: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  margin-bottom: 0px;
}
