footer {
  height: 120px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1));


  color: var(--base-white);
}

footer .footer-logo {
  border: 2px solid var(--base-white);
  padding: 10px;
  margin: -10px;
  border-radius: 5px;
}