


.effect {
  width: 100%;
  background-color: none;
}

.effect .buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.effect a {
  border-color: #fff;
  color: #fff;
}

.effect > div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* styles for a common effect !!!YOU NEED THEM */

.effect .buttons .social-button {
  text-decoration: none !important;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
}
.effect .buttons .social-button a i {
  position: relative;
  z-index: 3;
}
.effect .buttons .social-button a:last-child {
  margin-left: 3px;
}
.effect .buttons .social-button a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.effect .buttons .social-button a i {
  display: inline-block;
  vertical-align: middle;
}


/* thurio effect */
.effect.thurio .social-button {
  transition: border-radius 0.2s linear 0s;
  transform: rotate(45deg);
}
.effect.thurio .social-button i {
  transition: transform 0.01s linear 0s;
  transform: rotate(-45deg);
}
.effect.thurio .social-button:hover {
  border-radius: 0px;
}



/*lines above*/
.contact-lines svg .contact-line-1 {
  stroke-dasharray: 1300;
  animation: dashtop 1.5s linear;
  -webkit-animation: dashlines 1.5s linear ;
}

.contact-lines svg .contact-line-2 {
  stroke-dasharray: 1300;
  animation: dashtop 4s linear;
  -webkit-animation: dashlines 4s linear ;
}

@keyframes dashlines {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashlines {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-tl-line,
.svg-tr-line,
.svg-bl-line,
.svg-br-line
{
	width: 100%;
	position: relative;
	z-index: 1;
}

.svg-tl-line
{
	top: 15%;
  left:0px;
  height: 20px;
}

.svg-tr-line
{
	top: 0px;
	right: 15%;
	height:100%;
  margin-top: -16px;
  margin-bottom: -90px;
}

.svg-bl-line
{
	bottom: 0px;
	height:100%;
  margin-bottom: -23px;
}

.svg-br-line
{
	bottom: 0px;
	right: 0px;
  height: 20px;
  margin-top: -16px;
}

.mail-phone-frame > div{
  margin-bottom: -90px;
}


@media (max-width: 991.98px) {
  .svg-bl-line line, .svg-tr-line line {
    display: none;
  }
}