html {
  scroll-behavior: smooth;

  /* Variables globales - COLORES */

  --base-orange: #ffac40;
  --base-orange-lighted: #ffc271;
  --base-white: #ffffff;
  --base-black: #000000;


  --secc-red: #db4747;
  --secc-red-lighted: #ff7d7d;
  --secc-orange: #ffa837;
  --secc-orange-lighted: #ffbe6a;
  --secc-blue: #8abdff;
  --secc-blue-lighted: #acd0ff;
  --secc-green:#5da761;
  --secc-green-lighted:#81d485;
  --secc-purple: #9153b6;
  --secc-purple-lighted: #b48eca;


  --timeline-educ: var(--secc-red);
  --timeline-educ-lighted: var(--secc-red-lighted);
  --timeline-exper: var(--secc-orange);
  --timeline-exper-lighted: var(--secc-orange-lighted);
  --timeline-courses: var(--secc-blue);
  --timeline-courses-lighted: var(--secc-blue-lighted);
  --timeline-music-courses:var(--secc-green);
  --timeline-music-courses-lighted:var(--secc-green-lighted);
}

body {
  margin: 0px;
  padding: 0px;
}

.center {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
}

.reset-height {
  margin-top: -70vh;
}

.reset-height-soft {
  margin-top: -25vh;
  margin-bottom: 25vh;
}

.fill-height {
  height: 100vh;
}

.fill-height-110 {
  height: 110vh;
}

.pt-100{
  padding-top:100px;
}
.pt-200{
  padding-top:200px;
}
.pb-100{
  padding-bottom:100px;
}
.pb-200{
  padding-bottom:200px;
}

.mt-100{
  margin-top:100px;
}
.mt-200{
  margin-top:200px;
}
.mb-100{
  margin-bottom:100px;
}
.mb-200{
  margin-bottom:200px;
}
.ml-100{
  margin-left:100px;
}
.mr-100{
  margin-right:100px;
}

.important-exper{
  color: var(--timeline-exper);
}

.important-educ{
  color: var(--timeline-educ);
}

.important-exper-lighted{
  color: var(--timeline-exper-lighted);
}

.important-educ-lighted{
  color: var(--timeline-educ-lighted);
}



@media (max-width: 1201px) {
  .hide-md {
    display: none;
  }
}

.show-on.md {
  display: none;
}

@media (max-width: 1201px) {
  .show-on-md {
    display:block;
  }
}

.invisible-on {
  visibility: hidden;
}

.visible-on {
  visibility: visible;
}
