#about-me-container {
  .row {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    flex-wrap: nowrap;
    height: 100%;
  }
}

#coding-sec,
#design-sec {
  display: flex;
  align-items: center;

  .title {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
  }
}

#coding-sec {
  justify-content: end;
  padding-top: 5vh;

  .title {
    transform: rotate(0deg);
  }

  .desc {
    text-align: right;
  }

  .box-highlight,
  .box-highlight-wrap,
  .text-hightlight-wrap {
    height: auto;
  }
}

#design-sec {
  margin-top: -60px;
  padding-bottom: 5vh;

  .box-highlight,
  .box-highlight-wrap,
  .text-hightlight-wrap {
    height: auto;
  }
}

#about-me-title-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;

  #coding-title-shadow {
    position: absolute;
    top: -16vh;
    left: 50%;
    transform: translateX(-50%);
  }

  #design-title-shadow {
    position: absolute;
    bottom: -16vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
