#background-container {
  position: relative;
  overflow: hidden;
}

#background-main {
  height: 100%;
  display: flex;
  align-items: center;

  #background-left {
    display: flex;
    flex-direction: column;
    height: 100%;

    #background-title {
      height: 50%;
      min-height: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
    }

    #background-list {
      height: 50%;
      min-height: 0;
      align-self: stretch;
      margin-right: 40px;
      margin-top: 3rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  #background-text {
    display: flex;
    height: 65vh;
    min-height: 0;
    min-width: 0;
  }
}

#background-title-shadow {
  position: absolute;
  top: 13vh;
  left: 25vw;
  transform: translateX(-40%);
  margin: 0;
}
