#background-container {
  padding: 5vh 0;
}

#background-main {
  height: 90vh;
  align-items: stretch;
}

#background-left {
  display: flex;
  flex-direction: column;

  #background-title {
    flex-shrink: 0;
  }

  #background-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      margin: 1vh 0;
      justify-content: end;

      p {
        margin: 0;
      }
    }

    & > div:nth-last-child(2) {
      margin-top: 4vh;
    }

    .selected-mark {
      width: 70px;

      rect {
        stroke: $text;
        stroke-width: 3px;
        fill: transparent;
        transform: rotate(45deg);
      }
    }
  }
}

#background-text {
  display: flex;
}

#background-title-shadow {
  margin-top: -90vh;
  margin-bottom: 56vh;
}

#background-title-shadow {
  .title-shadow {
    transform: translateX(-40%);
  }
}
