#career-container {
  // Size: < X-Large
  @media (max-width: $xl) {
    height: fit-content;
  }

  #career-title {
    padding-top: 9.5vw;
    font-size: clamp(10px, 0.75vw, 32px);

    @media (max-width: $xl) {
      width: 90vw;
      margin-left: 5vw;
      padding-top: 160px;
      padding-bottom: 36px;
    }
  }

  #career-data {
    height: calc(100vh - 120px);

    // Size: < X-Large
    @media (max-width: $xl) {
      height: fit-content;
    }

    #career-list {
      margin-top: 4vw;

      .small {
        font-style: italic;
        font-size: 0.7em;
      }

      & > div {
        margin: 35px 0;
        justify-content: end;

        p {
          margin: 0;
        }
      }

      .selected-mark {
        width: 70px;

        rect {
          stroke: $text;
          stroke-width: 3px;
          fill: transparent;
          transform: rotate(45deg);
        }
      }
    }

    #career-text {
      height: 80%;
      margin-top: 10vw;
    }

    #career-text-small {
      margin-top: 24px;
      width: calc(90vw - 88px);
      margin-left: calc(5vw + 44px);
    }
  }
}

#career-title-shadow {
  margin-top: -90vh;
  margin-bottom: 56vh;
}

#career-title-shadow {
  .title-shadow {
    transform: translateX(-40%);
  }
}
