@import "@/scss/variables";

#contact-container {
  // Size: < X-Large
  @media (max-width: $xl) {
    height: fit-content;
  }

  #contact-title {
    padding-top: 12.5vw;
    text-align: center;
    font-size: clamp(10px, 0.75vw, 32px);

    .title {
      padding-bottom: 16px;

      // Size: >= X-Large
      @media (min-width: $xl) {
        padding-bottom: 0;
      }
    }
  }

  #contact-form {
    margin-top: 4vh;

    // Size: >= X-Large
    @media (min-width: $xl) {
      margin-top: 0;
    }

    .form-field {
      display: grid;

      // Size: >= X-Large
      @media (min-width: $xl) {
        margin-top: 4vh;
      }

      label {
        text-transform: uppercase;
        margin: 10px 0;
      }

      input,
      textarea {
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0);
        border: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }

      textarea {
        height: 6rem;
        resize: none;
      }
    }

    #contact-submit-button {
      margin-top: 4vh;
      width: fit-content;

      margin-bottom: 50px;

      // Size: >= X-Large
      @media (min-width: $xl) {
        margin-bottom: 0;
      }
    }
  }
}

#contact-title-shadow {
  margin-top: -90vh;
  margin-bottom: 22.5vh;

  h1 {
    margin-left: 0;

    // Size: >= Medium
    @media (min-width: $md) {
      margin-left: -12vw;
    }
  }
}
