#feedback-container {
  position: relative;
  overflow: hidden;
}

#feedback-main {
  height: 100%;
  display: flex;
  align-items: center;

  #feedback-left {
    flex-direction: column;

    #feedback-title {
      flex-shrink: 0;
    }

    #feedback-list {
      margin-right: 40px;
      margin-top: 3em;
    }
  }

  #feedback-text {
    display: flex;
    height: 65vh;
    min-height: 0;
    min-width: 0;
  }
}

#feedback-title-shadow {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-40%);
  margin: 0;
}
