@import "@/scss/variables";

@mixin hero-gradient() {
  background: -webkit-linear-gradient(180deg, #ecc283, #c79b59, #ecc283);
}

#hero-container {
  padding: 0px;
  margin: 0px;

  #text-column {
    height: 100vh;
    margin-top: -20vh;
    display: flex;
    text-align: center;
    align-items: end;

    // Size: < Large
    @media (max-width: $lg) {
      margin-top: -10vh;
    }

    // Size: < Small
    @media (max-width: $sm) {
      height: 40vh;
      margin-top: 0;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }

    #hero-title {
      height: fit-content;

      // Size: < Small
      @media (max-width: $sm) {
        position: absolute;
        bottom: 10vh;
      }

      .hero-my-name {
        color: $text;
        -webkit-text-stroke-width: 0;
        font-size: clamp(20px, 2vw, 42px);

        // Size: < Small
        @media (max-width: $sm) {
          font-size: clamp(10px, 6vw, 20px);
        }
      }

      .hero-frontend {
        @include hero-gradient();
        font-family: "Krona One", sans-serif;
        -webkit-text-stroke-width: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: clamp(80px, 7vw, 144px);

        // Size: < Small
        @media (max-width: $sm) {
          font-size: clamp(42px, 10vw, 80px);
        }
      }

      .hero-developer {
        font-family: "Krona One", sans-serif;
        font-size: clamp(56px, 5.5vw, 113px);
        color: transparent;

        // Size: < Small
        @media (max-width: $sm) {
          font-size: clamp(32px, 10vw, 56px);
        }
      }

      .hero-frontend,
      .hero-developer {
        width: 100%;
        display: block;
      }
    }

    #hero-buttons {
      margin-top: 15vh;

      // Size: < X-Small
      @media (max-width: $lg) {
        margin-top: 5vh;
      }

      button {
        margin: 0 1vw;
      }
    }
  }

  #picture-column {
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: -1;
    position: relative;
    padding: 0;

    // Size: < Small
    @media (max-width: $sm) {
      position: absolute;
    }

    img {
      height: 90vh;

      // Size: < Small
      @media (max-width: $sm) {
        height: auto;
        width: 100%;
        left: 0;
        transform: none;
      }
    }
  }
}

#hero-title-shadow {
  margin-top: -95vh;
  font-size: 2.75vw;

  // Size: < Small
  @media (max-width: $sm) {
    margin-top: -30vh;
  }

  h1 {
    margin-left: -7vw;
  }
}
