/* ----------------------------------------
    COLORS 
 ---------------------------------------- */

$bg: #15181b;
$text: #f9f9f9;
$text-disabled: #848484;

$highlight: #ecc283;
$wine: #7e2020;

$black: #000000;
$white: #ffffff;
$transparent: rgba(255, 255, 255, 0);

/* ----------------------------------------
    SIZES 
 ---------------------------------------- */

$xxl: 1400px; // Bootstrap's XXL breakpoint
$xl: 1200px; // Bootstrap's XL breakpoint
$lg: 992px; // Bootstrap's LG breakpoint
$md: 768px; // Bootstrap's MD breakpoint
$sm: 576px; // Bootstrap's SM breakpoint
$xs: 0px; // Bootstrap's XS breakpoint
