.box-highlight-wrap {
  .box-header {
    overflow: hidden;
    border-bottom: 1px solid $highlight;
    margin-bottom: 20px;

    p {
      margin: 0 !important;
      padding: 0 !important;
    }

    .box-header-headline {
      color: $highlight;
      font-family: "Krona One", sans-serif;
    }

    .box-subheader {
      margin-top: 1em;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease;

      .box-header-subheadline {
        font-family: "Krona One", sans-serif;
      }

      .box-header-subcomment {
        font-style: italic;
      }
    }
  }

  .box-round-image {
    margin-left: -94px;
    margin-top: 40px;
    margin-bottom: -110px;
    display: flex;

    figure {
      border-radius: 50px;
      background: $bg;
      border: 1px solid $highlight;
    }

    img {
      margin: 4px;
    }

    // Size: < X-Large
    @media (max-width: $md) {
      margin-left: -70px;
    }
  }

  .box-content {
    .margened {
      margin-left: 20px;

      // Size: < X-Large
      @media (max-width: $md) {
        margin-left: 40px;
      }
    }
  }

  &:hover {
    .box-header {
      overflow-y: auto;
      padding-bottom: 15px;

      .box-subheader {
        max-height: 200px;
        transition: max-height 0.2s ease-in-out;
      }
    }
  }

  // Size: < X-Large
  @media (max-width: $xl) {
    .box-header {
      overflow-y: auto;
      padding-bottom: 15px;

      .box-subheader {
        max-height: 200px;
        transition: max-height 0.2s ease-in-out;
      }
    }
  }
}
